/* SANDALO, Frederick --- uscbsitric@gmail.com */

/****** COLORS *******
*** #e67e22  ORANGE
****** COLORS *******/

/*Targets All Elements*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*The width and height properties (and min/max properties) includes content, padding and border, but not the margin*/
}

.REDSQUARE
{
    border-color: crimson;
    border-width: thick;
    border-style: solid;
}

.BLUESQUARE
{
    border-color: blue;
    border-width: thin;
    border-style: solid;
}

.GREENSQUARE
{
    border-color: forestgreen;
    border-width: thin;
    border-style: solid;
}


/*********************************************
*** BASIC SETUP
*********************************************/
@font-face
{
    font-family: fredericksLato;
    src: url(../../vendors/fonts/lato/Lato-Medium.ttf);
    font-weight: 900;
}

html
{
    background-color: white;
    color: #555;
    font-family: 'fredericksLato';
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

    /* Clears the float, a technique used in web development and design */
.clearfix
{
    zoom: 1
}
.clearfix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
    /* Clears the float, a technique used in web development and design */


/*********************************************
*** REUSABLE COMPONENTS
*********************************************/
.row
{
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section
{
    padding: 80px 0;
    clear: both;
}

.box
{
    padding: 1%;
}


/*********************************************
*** HEADINGS
*********************************************/
h1, h2, h3
{
    font-weight: 300;
    text-transform: uppercase;
}

h1
{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%; /* In responsive web design, everything has to be relative, so in this case the font size should be 200 percent if 20px(specified in the html{} selector.) */
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3
{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after /* putting content on the website with just CSS */
{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/*********************************************
*** PARAGRAPHS
*********************************************/
.longCopy
{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p
{
    font-size: 90%;
    line-height: 145%;
}


/*********************************************
*** ICONS
*********************************************/
.iconBig
{
    font-size: 350%;
    display: block; /* Forces inline breaks */
    color: #e67e22;
    text-align: center;
}

.iconSmall
{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /* secrets to align text and icon */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    /* secrets to align text and icon */
}


/*********************************************
*** LINKS
*********************************************/
a:link, a:visited
{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.5s, color 0.5s;
}

a:hover, a:active
{
    color: #555;
    border-bottom: 1px solid transparent;
}


/*********************************************
*** BUTTONS
*********************************************/
.btn:link,
.btn:visited
{
    display: inline-block; /* Just like an inline element but, that can have padding and margin.  So the difference is that it doesnt force a line break but you can attribute it some padding and some margin unlike a normal inline element. (BUT this is weird, I tried making a normal Anchor tag and added some margin and padding at it works :( hmmm....  )*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.5s, border 0.5s, color 0.5s; /* Specifies the delay in reflecting the changes */
}

.btnFull:link,
.btnFull:visited
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btnGhost:link,
.btnGhost:visited
{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active
{
    background-color: #cf6d17;
}

.btnFull:hover,
.btnFull:active
{
    border: 1px solid #cf6d17;
}

.btnGhost:hover,
.btnGhost:active
{
    border: 1px solid #cf6d17;
    color: #fff;
}


/*********************************************
*** HEADER
*********************************************/
header
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover; /* Tells the browser to display the whole image instead of being zoomed in. */
    background-position: center;
    height: 100vh; /* 100% of the viewport height, makes the image 100 percent visible in the entire viewport. */
    background-attachment: fixed;
}

.heroTextBox
{
    position: absolute;
    width: 1140px;
    top: 50%; /* 50% from the top */
    left: 50%; /* 50% from the left */
    transform: translate(-50%, -50%); /* Translates the element half of its width and half of its height */
}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.mainNav
{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.mainNav li
{
    display: inline-block;
    margin-left: 40px;
}

.mainNav li a:link,
.mainNav li a:visited
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.5s;
}

.mainNav li a:hover,
.mainNav li a:active
{
    border-bottom: 2px solid #e67e22;
}


/*********************************************
*** SECTION FEATURES
*********************************************/
.sectionFeatures .longCopy
{
    margin-bottom: 30px;
}


/*********************************************
*** SECTION MEALS
*********************************************/
.sectionMeals
{
    padding: 0;
}

.mealsShowcase
{
    list-style: none;
    width: 100%;
}

.mealsShowcase li
{
    display: block;
    float: left;
    width: 25%;
}

.mealPhoto
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}

.mealPhoto img
{
    opacity: 0.4;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.mealPhoto img:hover
{
    transform: scale(1.03);
    opacity: 1.0;
}


/*********************************************
*** SECTION HOW IT WORKS
*********************************************/
.stepsBox
{

}

.sectionSteps
{
    background-color: #dedede; /* #f4f4f4 , #dedede */
}

.stepsBox:first-child
{
    text-align: right; /* doesnt only work for text, works for all inline or inline block elements, and the image is one of those inline block images. */
    padding-right: 3%;
    margin-top: 30px;
}

.stepsBox:last-child
{
    padding-left: 3%;
    margin-top: 70px;
}

.appScreen
{
    width: 40%;
}

.worksStep
{
    margin-bottom: 50px;
}

.worksStep:last-of-type
{
    margin-bottom: 80px;
}

.worksStep div
{
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block; /* to insure the element does not force a line break, so the number can be side by side with the text */
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}

.btnApp img
{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btnApp:link, .btnApp:visited
{
    border: 0;
}


/*********************************************
*** SECTION CITIES
*********************************************/
.box img
{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.cityFeature
{
    margin-bottom: 5px;
}


/*********************************************
*** TESTIMONIALS CITIES
*********************************************/
.sectionTestimonials
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/foodbackground-min.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote
{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before
{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite
{
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img
{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}








